@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

:root {
    --md-text-font: "Roboto";
}

html {
    font-size: 110%;
}

.md-typeset :is(.admonition, details) {
    font-size: 0.8rem;
}

.banner {
    display: flex;
    align-items: center;
    margin: 20pt 25pt 10pt 25pt;

    :is(h1, h2, h3, h4, h5, h6) {
        margin: 0;
    }

    h1 {
        color: #000;
    }

}

.body {
    display: flex;
    margin: 5pt 25pt 20pt 25pt;

    .left {
        flex: 0 0 calc(50% - 12.5pt);
        margin-right: 25pt;
    }

    .right {
        flex: 1;
    }
}

hr {
    border-bottom-width: 1pt !important;
    border-bottom-style: solid !important;
    height: 0;
    margin: 0;
}

.md-typeset ul li {
    margin-bottom: 0;
}


* {
    font-family: 'Open Sans', sans-serif;
}

.header {
    background-color: #F8F8FF;
    border: 2px solid #a9b4c2;
    border-bottom: none;
    /* Remove the bottom border */
    border-radius: 10px 10px 0 0;
    /* Top left and right corners are rounded */
    padding: 20px;
}

.header h1 {
    color: #2b3469;
    margin: 0;
    /* This removes the default margin */
    font-weight: 700;
    font-size: 30px;
}

.container {
    border: 2px solid #a9b4c2;
    background-color: #F8F8FF;
    padding: 20px;
    border-top: none;
    border-radius: 0 0 10px 10px;
    margin-bottom: 10px;
    position: relative;
    font-size: 17px;
    font-weight: 500;
    color: #2C4A67;
    margin-top: -2px;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
    border-radius: 0 0 10px 10px;
    z-index: -1;
}

.container h2 {
    font-weight: 500;
}

.section {
    display: flex;
    align-items: center;
}

.section-content {
    flex: 1;
}

.section-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-image img {
    max-width: 100%;
    height: auto;
}

.styled-table {
    margin: 0 auto;
    /* Center table on the page */
    border-collapse: collapse;
    font-size: 0.9em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
    border-radius: 0.8em;
    overflow: hidden;
}

.styled-table thead tr {
    background-color: #5763a6;
    color: #ffffff;
    text-align: center;
}

.styled-table th,
.styled-table td {
    text-align: center;
    padding: 2px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table-wrapper {
    margin: 0 10px;
}

.table-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.image-container {
    display: flex;
    justify-content: space-between;
}

.image-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: center;
    max-width: 250px;
    height: auto;
}

.image-column p {
    text-align: center;
}


.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-bottom: 20px;
}